<div class="container-ok">
<%= render "components/header" %>
<body style="background-image: url('https://res.cloudinary.com/www-parietism-com/image/upload/v1602013403/DSCF5171_jecky6.jpg'); background-size: cover;">
  <div class="img-back-blanc"><%= link_to(image_tag("cc.png", alt: "QQ29 - all rights reserved."), rir_article_path(@rir_article)) %></div>
<div class="center-div">
<div class="card-article-show">
<div class="article_info img_article_show">
  <h1 class="feature title-article"><%= @rir_article.title_rir %></h1>
  <h2 class="feature title-article-b"><%= @rir_article.sous_titre_rir %></h2>
<div class="feature display-info-article-show">
  <p><%= @rir_article.date_rir %></p>
  <p id="tiret">-</p>
  <p><%= @rir_article.lieu_rir %></p>
</div>
<div class="display-info-article-show">
<% if @rir_article.url1 != ""  %>
  <p class="feature link" ><%= link_to "Site internet", @rir_article.url2 %></p>
<% end %>
</div>
<div class="display-info-article-show">

<% if @rir_article.url2 != ""  %>
 <p class="feature link" ><%= link_to "Site internet", @rir_article.url2 %></p>
<% end %>
</div>
<div class="center-div-2">

  <%= image_tag("#{@rir_article.image_1}") %>
  <h5><%= @rir_article.legend1 %></h5>
  <p><%= @rir_article.contenu_1 %></p>
 <% if @rir_article.video_url != ""  %>
  <iframe width="845" height="560"
    src="<%= @rir_article.video_url %>"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
  </iframe>
  <% end %>

  <% if @rir_article.image_2 != ""  %>
    <%= image_tag("#{@rir_article.image_2}") %>
  <% end %>
  <% if @rir_article.legend2 != ""  %>
  <h5><%= @rir_article.legend2 %></h5>
  <% end %>
  <% if @rir_article.contenu_2 != ""  %>
  <p><%= @rir_article.contenu_2 %></p>
  <% end %>
  <% if @rir_article.image_3 != ""  %>
    <%= image_tag("#{@rir_article.image_3}") %>
  <% end %>
  <% if @rir_article.legend3 != ""  %>
  <h5><%= @rir_article.legend3 %></h5>
  <% end %>
  <% if @rir_article.contenu_3 != ""  %>
  <p><%= @rir_article.contenu_3 %></p>
  <% end %>
  <% if @rir_article.image_4 != ""  %>
   <%= image_tag("#{@rir_article.image_4}") %>
  <% end %>
  <% if @rir_article.legend4 != ""  %>
  <h5><%= @rir_article.legend4 %></h5>
  <% end %>
  <% if @rir_article.contenu_4 != ""  %>
  <p><%= @rir_article.contenu_4 %></p>
  <% end %>
  <% if @rir_article.image_5 != ""  %>
  <%= image_tag("#{@rir_article.image_5}") %>
<% end %>
  <% if @rir_article.legend5 != ""  %>
  <h5><%= @rir_article.legend5 %></h5>
  <% end %>
  <% if @rir_article.contenu_5 != ""  %>
  <p><%= @rir_article.contenu_5 %></p>
  <% end %>
  <% if @rir_article.image_6 != ""  %>
  <%= image_tag("#{@rir_article.image_6}") %>
<% end %>
  <% if @rir_article.legend6 != ""  %>
  <h5><%= @rir_article.legend6 %></h5>
  <% end %>
  <% if @rir_article.contenu_6 != ""  %>
  <p><%= @rir_article.contenu_6 %></p>
  <% end %>
  <% if @rir_article.image_7 != ""  %>
  <%= image_tag("#{@rir_article.image_7}") %>
<% end %>
  <% if @rir_article.legend7 != ""  %>
  <h5><%= @rir_article.legend7 %></h5>
  <% end %>
  <% if @rir_article.contenu_7 != ""  %>
  <p><%= @rir_article.contenu_7 %></p>
  <% end %>
    <% if @rir_article.image_8 != ""  %>
  <%= image_tag("#{@rir_article.image_8}") %>
<% end %>
  <% if @rir_article.legend8 != ""  %>
  <h5><%= @rir_article.legend8 %></h5>
  <% end %>
  <% if @rir_article.contenu_8_en != ""  %>
  <p id="english"><%= @rir_article.contenu_8_en %></p>
  <% end %>
    <% if @rir_article.image_9 != ""  %>
  <%= image_tag("#{@rir_article.image_9}") %>
<% end %>
  <% if @rir_article.legend9 != ""  %>
  <h5><%= @rir_article.legend9 %></h5>
  <% end %>
  <% if @rir_article.contenu_9_en != ""  %>
  <p id="english"><%= @rir_article.contenu_9_en %></p>
  <% end %>
    <% if @rir_article.image_10 != ""  %>
  <%= image_tag("#{@rir_article.image_10}") %>
<% end %>
  <% if @rir_article.legend10 != ""  %>
  <h5><%= @rir_article.legend10 %></h5>
  <% end %>
  <% if @rir_article.contenu_10_en != ""  %>
  <p id="english"><%= @rir_article.contenu_10_en %></p>
  <% end %>
    <% if @rir_article.image_11 != ""  %>
  <%= image_tag("#{@rir_article.image_11}") %>
<% end %>
  <% if @rir_article.legend11 != ""  %>
  <h5><%= @rir_article.legend11 %></h5>
  <% end %>
  <% if @rir_article.contenu_11_en != ""  %>
  <p id="english"><%= @rir_article.contenu_11_en %></p>
  <% end %>
    <% if @rir_article.image_12 != ""  %>
  <%= image_tag("#{@rir_article.image_12}") %>
<% end %>
  <% if @rir_article.legend12 != ""  %>
  <h5><%= @rir_article.legend12 %></h5>
  <% end %>
  <% if @rir_article.contenu_12_en != ""  %>
  <p id="english"><%= @rir_article.contenu_12_en %></p>
  <% end %>
    <% if @rir_article.image_13 != ""  %>
  <%= image_tag("#{@rir_article.image_13}") %>
<% end %>
  <% if @rir_article.legend13 != ""  %>
  <h5><%= @rir_article.legend13 %></h5>
  <% end %>
  <% if @rir_article.contenu_13_en != ""  %>
  <p id="english"><%= @rir_article.contenu_13_en %></p>
  <% end %>
    <% if @rir_article.image_14 != ""  %>
  <%= image_tag("#{@rir_article.image_14}") %>
<% end %>
  <% if @rir_article.legend14 != ""  %>
  <h5><%= @rir_article.legend14 %></h5>
  <% end %>
  <% if @rir_article.contenu_14_en != ""  %>
  <p id="english"><%= @rir_article.contenu_14_en %></p>
  <% end %>
    <% if @rir_article.image_15 != ""  %>
  <%= image_tag("#{@rir_article.image_15}") %>
<% end %>
  <% if @rir_article.legend15 != ""  %>
  <h5><%= @rir_article.legend15 %></h5>
  <% end %>
  <% if @rir_article.contenu_15_en != ""  %>
  <p id="english"><%= @rir_article.contenu_15_en %></p>
  <% end %>

</div>
</div>
</div>
</div>

<%= render "components/footer" %>
</body>
</div>
