<div class="container-ok">
<%= render "components/header" %>
<body style="background-color:black;">
  <div class="img-back-blanc"><%= link_to(image_tag("cc.png", alt: "QQ29 - all rights reserved."), ais_articles_path) %></div>
<div class="center-div">
<div class="card-article-show">
<div class="article_info img_article_show">
  <h1 class="feature"><%= @ais_article.title %></h1>
  <h2 class="feature"><%= @ais_article.website_url1 %></h2>
  <p><%= @ais_article.website_url1 %></p>
  <p><%= @ais_article.website_url2 %></p>
<div class="display-info-article-show">
  <p class="feature"><%= @ais_article.date %></p>
  <p>-</p>
  <p><%= @ais_article.lieu %></p>
</div>

<div class="center-div-2">

  <%= image_tag("#{@ais_article.image_url}") %>
  <h5><%= @ais_article.legend %></h5>
  <p><%= @ais_article.content %></p>
 <% if @ais_article.video != ""  %>
  <iframe width="845" height="560"
    src="<%= @ais_article.video %>"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
  </iframe>
  <% end %>
  <%= image_tag("#{@ais_article.image_url_2}") %>
  <h5><%= @ais_article.legend_2 %></h5>
  <p><%= @ais_article.content_2 %></p>
  <%= image_tag("#{@ais_article.image_url_3}") %>
  <h5><%= @ais_article.legend_3 %></h5>
  <p><%= @ais_article.content_3 %></p>
  <%= image_tag("#{@ais_article.image_url_4}") %>
  <h5><%= @ais_article.legend_4 %></h5>
  <p><%= @ais_article.content_4 %></p>
  <%= image_tag("#{@ais_article.image_url_5}") %>
  <h5><%= @ais_article.legend_5 %></h5>
  <p><%= @ais_article.content_5 %></p>
  <%= image_tag("#{@ais_article.image_url_6}") %>
  <h5><%= @ais_article.legend_6 %></h5>
  <p><%= @ais_article.content_6 %></p>
  <%= image_tag("#{@ais_article.image_url_7}") %>
  <h5><%= @ais_article.legend_7 %></h5>
  <p><%= @ais_article.content_7 %></p>
  <%= image_tag("#{@ais_article.image_url_8}") %>
  <h5><%= @ais_article.legend_8 %></h5>
  <p><%= @ais_article.content_8 %></p>
  <%= image_tag("#{@ais_article.image_url_9}") %>
  <h5><%= @ais_article.legend_9 %></h5>
  <p><%= @ais_article.content_9 %></p>
  <%= image_tag("#{@ais_article.image_url_10}") %>
  <h5><%= @ais_article.legend_10 %></h5>
  <p><%= @ais_article.content_10 %></p>
  <%= image_tag("#{@ais_article.image_url_11}") %>
  <h5><%= @ais_article.legend_11 %></h5>
  <%= image_tag("#{@ais_article.image_url_12}") %>
  <h5><%= @ais_article.legend_12 %></h5>
  <%= image_tag("#{@ais_article.image_url_13}") %>
  <h5><%= @ais_article.legend_13 %></h5>
  <%= image_tag("#{@ais_article.image_url_14}") %>
  <h5><%= @ais_article.legend_14 %></h5>
  <%= image_tag("#{@ais_article.image_url_15}") %>
  <h5><%= @ais_article.legend_15 %></h5>
</div>
</div>
</div>
</div>

<%= render "components/footer" %>
</body>
</div>
