<div class="container-ok">
<%= render "components/header" %>

<body style="background-image: url('https://res.cloudinary.com/www-parietism-com/image/upload/v1602013403/DSCF5171_jecky6.jpg'); background-size: cover;">
<div class="center-div">
<div class="card-article-show">
<div class="article_infox img_article_show center-div-2">
  <h1 class="">Qu'est ce que le Parietisme?</h1>
  <h2 class="detailh">Le pariétisme est un mouvement culturel initié en 2019 par une artiste et un photographe engagés dans la culture. L’art et le photojournalisme s’associent ensemble pour la première fois pour répondre au conflit des images qui marque l’environnement urbain.</h2>
  <div class="center-div-2">
    <iframe width="845" height="560"
        src="https://www.youtube.com/embed/Z6F4qbm4-VY"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
  </div>
  <h3>"PAR LE PARIETISME, L’ARTISTE RETABLIT LE REEL DANS LA RUE."</h3>
  <p>Ce conflit des images trouve un de ses fondements dans la saturation de l’espace public par la publicité. Comme l’avançait le situationniste Guy Debord,  « par le divertissement, le réel au même titre que l’individu est détourné du vivant ». Les images se multiplient, le capitalisme les déifie, et la publicité en particulier nous renvoie par ses codes à des formes faussement familières, nous faisant fantasmer sur un imaginaire qui n’est pas le notre, dans le but ultime de pousser chaque individu à la consommation. De ce constat, il semble indispensable d’interférer avec ce système présent au sein de l’espace public. Qui de mieux que l’artiste pour porter cette responsabilité? La responsabilité de redonner à chacun le choix de voir ou de ne pas voir, le choix de penser aux images qui l’entourent. C’est là tout l’enjeu du pariétisme. Le pariétisme est ainsi un système d’expression et de pensée permettant à l’artiste d’imposer son propre système d’écriture au sein d’un spot urbain choisi au préalable par lui. Quel que soit le support, l’Homme inscrit. Par son propre système de représentation, l’artiste répond aux images qui l’entourent. Ainsi, l’artiste répond par son oeuvre aux images qui saturent l’environnement urbain. </p>
  <%= image_tag("https://res.cloudinary.com/www-parietism-com/image/upload/v1600087872/6_axjfrs.jpg") %>
  <h4 class="legende">Crédit photo - Corentin Schimel</h4>
  <h1 class="">Le role du photojournalisme.</h1>
  <h2 class="center-div-2 detailh">À une époque où la photographie ne réussit plus à poser ses propres limites dans l’espace privé comme public, le photojournalisme s’associe à l’action portée par l’Art en vue d’interroger le spectateur au sein de l’espace urbain en l’extirpant d’un imaginaire publicitaire qui ne lui appartient pas.</h2>
  <%= image_tag("https://res.cloudinary.com/www-parietism-com/image/upload/v1602232961/AIS/G%C3%A9rald%20--%20Olivier%20Montay/OM_20190519_0013_1_xwhxox.jpg") %>
  <h4 class="legende">Crédit photo - Olivier Montay</h4>
  <h3>"LE PHOTOJOURNALISME, PORTE-PAROLE DE LA <br>
CREaTION CONTEMPORAINE ENGAgEE.”</h3>
  <p>Le Pariétisme se décline en deux pans : un système d’expression permettant à l’artiste de répondre à l’image saturant l’espace public en intervenant dans l’environnement urbain, et un média, porté par des photojournalistes exprimant leur vision de l’art contemporain.
  Par le pariétisme, le photojournaliste devient le porte-parole de la création contemporaine. Il est celui qui capte l’instantané de la rencontre public/artiste, soit l’expérience de l’oeuvre par un public spontané et non nécessairement initié à l’Art. Dans cette expérience de l’art, le photojournaliste permet d’engager un débat sur l’exercice de l’art. De l’espace que l’artiste choisira d’occuper dépendront les réactions du spectateur, son implication et la profondeur de l’impact social du mouvement. Le photojournalisme pose ainsi la question de l’adaptation et de la résistance nécessaires à une oeuvre pour faire face à un public dont la sensibilité et la réceptivité vis à vis de l’art peuvent varier d’un endroit à un autre.</p>
  <%= image_tag("https://res.cloudinary.com/www-parietism-com/image/upload/v1600111139/1er_D%C3%A9cembre_5_jkqope.jpg") %>
  <h4 class="legende">Crédit photo - Léo Derivot</h4>
  <p>Comme le soulignait John Berger dans son ouvrage « Voir le voir », il existe un rapport étroit entre l’intérêt porté à l’art et l’éducation privilégiée. Dans son rôle de média, le Pariétisme met également en avant, sous formes de documentaires photographiques, le regard porté par différents photographes sur le milieu de l’art contemporain. Par son association à l’artiste, le photojournaliste souligne l’importance de l’éducation que pose tout mouvement culturel. En effet, si l’artiste doit être éduqué à interagir avec son environnement par l’Art, c’est également l’environnement qui devra être progressivement habitué à recevoir et intégrer cet art. Grâce au pariétisme, l’action de l’artiste et du photojournaliste se veulent complémentaires. Par l’art, le photojournalisme renoue avec l’expérience qu’il fait du réel au sein d’un environnement social particulier. Par le photojournalisme, l’Art questionne sa condition d’existence même.
</p>
<%= image_tag("https://res.cloudinary.com/www-parietism-com/image/upload/v1602233945/AIS/Marion%20Moskowitz/CC_20190505_0039_kchv32.jpg") %>
  <h4 class="legende">Crédit photo - Carlos Cortes</h4>
 <h1 class="">What is Parietism ?</h1>
  <h2 class="detailh">Parietism is a cultural movement initiated in 2019 by an artist and a photographer involved in culture. Art and photojournalism team up for the first time to respond to the conflict of images that marks the urban environment.</h2>
  <div class="center-div-2">
    <iframe width="845" height="560"
        src="https://www.youtube.com/embed/Z6F4qbm4-VY"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
  </div>
  <h3>"THROUGH PARIETISM, THE ARTIST BRINGS BACK REALITY TO THE STREET.</h3>
  <p>
    This conflict of images finds one of its foundations in the saturation of public space by advertising. As the situationist Guy Debord put it, "through entertainment, the real is diverted from the living just as the individual is ». Images multiply, capitalism deifies them, and advertising in particular sends us back through its codes to falsely familiar forms, making us fantasise about an imagination that is not our own, with the ultimate aim of pushing each individual into consumption. From this observation, it seems indispensable to interfere with this system present in the public space.
Who better than the artist to bear this responsibility? The responsibility of giving back to each individual the choice to see or not to see, the choice to think about the images that surround him or her. This is what parietism is all about.

Parietism is thus a system of expression and thought allowing the artist to impose his own writing system within an urban spot chosen beforehand by him. Whatever the medium, Man inscribes. Through his own system of representation, the artist responds to the images that surround him. Thus, the artist responds with his work to the images that saturate the urban environment.
  </p>
  <%= image_tag("https://res.cloudinary.com/www-parietism-com/image/upload/v1602150211/AIS/Camille%20Compress%C3%A9/CS_20190317_0111_agi7pd.jpg") %>
  <h4 class="legende">Crédit photo - Corentin Schimel</h4>
  <h1 class="">The objective of photojournalism</h1>
  <h2 class="center-div-2 detailh">At a time when photography no longer succeeds in setting its own limits in both private and public spaces, photojournalism seeks to associate itself with the action carried out by art and question the viewer within the urban space. This is done by extracting the viewer from the advertised imagination that does not belong to him.</h2>
  <%= image_tag("https://res.cloudinary.com/www-parietism-com/image/upload/v1602234763/AIS/Tadzio/CS_20190618_0022_jj4f6l.jpg") %>
  <h4 class="legende">Crédit photo - Corentin Schimel</h4>
  <h3>"THE PHOTOJOURNALISM, SPOKESPERSON FOR COMMITTED CONTEMPORARY CREATION"</h3>
  <p>Parietism in its form as a media is divided into two parts: a system of expression allowing the artist to respond to the image saturating the public space by intervening in the urban environment, and a media, carried by photojournalists expressing their vision of contemporary art.

Through parietism, the photojournalist becomes the spokesperson for contemporary creation. He is the one who captures the snapshot of the public/artist encounter, i.e. the experience of the work by a spontaneous public not necessarily initiated to Art. In this experience of art, the photojournalist enables a debate on the exercise of art. The reactions of the spectator, his involvement and the depth of the social impact of the movement will depend on the space the artist chooses to occupy.

Photojournalism thus raises the question of the adaptation and resistance necessary for a work to face an audience whose sensitivity and receptivity to art can vary from one place to another. </p>
  <h4 class="legende">Crédit photo - Léo Derivot</h4>
  <p> As John Berger pointed out in his book « Ways of Seeing", there is a close relationship between interest in art and privileged education.

In its role as a medium, Parietism also highlights, in the form of photographic documentaries, the viewpoint of various photographers on the contemporary art world. Through his association with the artist, the photojournalist underlines the importance of education in any cultural movement. Indeed, if the artist must be educated to interact with his environment through Art, it is also the environment that will have to be gradually accustomed to receive and integrate this art.

Thanks to parietism, the action of the artist and the photojournalist are complementary. Through art, photojournalism reconnects with the experience it makes of reality within a particular social environment. Through photojournalism, Art questions its very condition of existence. </p>
</div>
</div>
</div>
</body>
</div>


<%= render "components/footer" %>
</div>

