<div class="container-ok">
<%= render "components/header" %>

<body style="background-image: url('https://res.cloudinary.com/www-parietism-com/image/upload/v1602014790/DSCF5171_gbjwdm.jpg'); background-size: cover;">
<div class="center-div">
<div class="card-article-show">
<div class="article_infox img_article_show center-div-2">
  <h1 class="">Qu'est ce que le Parietisme?</h1>
  <h2 class="detailh">Le pariétisme est un mouvement culturel initié en 2019 par une artiste et un photographe engagés dans la culture. L’art et le photojournalisme s’associent ensemble pour la première fois pour répondre au conflit des images qui marque l’environnement urbain.</h2>
  <div class="center-div-2">
    <iframe width="845" height="560"
        src="https://www.youtube.com/embed/Z6F4qbm4-VY"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
  </div>
  <h3>"PAR LE PARIETISME, L’ARTISTE RETABLIT LE REEL DANS LA RUE."</h3>
  <p>Ce conflit des images trouve un de ses fondements dans la saturation de l’espace public par la publicité. Comme l’avançait le situationniste Guy Debord,  « par le divertissement, le réel au même titre que l’individu est détourné du vivant ». Les images se multiplient, le capitalisme les déifie, et la publicité en particulier nous renvoie par ses codes à des formes faussement familières, nous faisant fantasmer sur un imaginaire qui n’est pas le notre, dans le but ultime de pousser chaque individu à la consommation. De ce constat, il semble indispensable d’interférer avec ce système présent au sein de l’espace public. Qui de mieux que l’artiste pour porter cette responsabilité? La responsabilité de redonner à chacun le choix de voir ou de ne pas voir, le choix de penser aux images qui l’entourent. C’est là tout l’enjeu du pariétisme. Le pariétisme est ainsi un système d’expression et de pensée permettant à l’artiste d’imposer son propre système d’écriture au sein d’un spot urbain choisi au préalable par lui. Quel que soit le support, l’Homme inscrit. Par son propre système de représentation, l’artiste répond aux images qui l’entourent. Ainsi, l’artiste répond par son oeuvre aux images qui saturent l’environnement urbain. </p>
  <%= image_tag("https://res.cloudinary.com/www-parietism-com/image/upload/v1600087872/6_axjfrs.jpg") %>
  <h4 class="legende">Crédit photo - Corentin Schimel</h4>
  <h1 class="">Le role du photojournalisme.</h1>
  <h2 class="center-div-2 detailh">À une époque où la photographie ne réussit plus à poser ses propres limites dans l’espace privé comme public, le photojournalisme s’associe à l’action portée par l’Art en vue d’interroger le spectateur au sein de l’espace urbain en l’extirpant d’un imaginaire publicitaire qui ne lui appartient pas.</h2>
  <%= image_tag("https://res.cloudinary.com/www-parietism-com/image/upload/v1600110981/057A1401_gdhwby.jpg") %>
  <h4 class="legende">Crédit photo - Dylan Serrano</h4>
  <h3>"LE PHOTOJOURNALISME, PORTE-PAROLE DE LA <br>
CREaTION CONTEMPORAINE ENGAgEE.”</h3>
  <p>Le Pariétisme se décline en deux pans : un système d’expression permettant à l’artiste de répondre à l’image saturant l’espace public en intervenant dans l’environnement urbain, et un média, porté par des photojournalistes exprimant leur vision de l’art contemporain.
  Par le pariétisme, le photojournaliste devient le porte-parole de la création contemporaine. Il est celui qui capte l’instantané de la rencontre public/artiste, soit l’expérience de l’oeuvre par un public spontané et non nécessairement initié à l’Art. Dans cette expérience de l’art, le photojournaliste permet d’engager un débat sur l’exercice de l’art. De l’espace que l’artiste choisira d’occuper dépendront les réactions du spectateur, son implication et la profondeur de l’impact social du mouvement. Le photojournalisme pose ainsi la question de l’adaptation et de la résistance nécessaires à une oeuvre pour faire face à un public dont la sensibilité et la réceptivité vis à vis de l’art peuvent varier d’un endroit à un autre.</p>
  <%= image_tag("https://res.cloudinary.com/www-parietism-com/image/upload/v1600111139/1er_D%C3%A9cembre_5_jkqope.jpg") %>
  <h4 class="legende">Crédit photo - Léo Derivot</h4>
  <p>Comme le soulignait John Berger dans son ouvrage « Voir le voir », il existe un rapport étroit entre l’intérêt porté à l’art et l’éducation privilégiée. Dans son rôle de média, le Pariétisme met également en avant, sous formes de documentaires photographiques, le regard porté par différents photographes sur le milieu de l’art contemporain. Par son association à l’artiste, le photojournaliste souligne l’importance de l’éducation que pose tout mouvement culturel. En effet, si l’artiste doit être éduqué à interagir avec son environnement par l’Art, c’est également l’environnement qui devra être progressivement habitué à recevoir et intégrer cet art. Grâce au pariétisme, l’action de l’artiste et du photojournaliste se veulent complémentaires. Par l’art, le photojournalisme renoue avec l’expérience qu’il fait du réel au sein d’un environnement social particulier. Par le photojournalisme, l’Art questionne sa condition d’existence même.
</p>
</div>
</div>
</div>
</body>
</div>


<%= render "components/footer" %>
</div>

